@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: ;
}

/* .custom-img {
    background-image: url("https://img.freepik.com/premium-photo/digital-cyberspace-data-network-connections_24070-1044.jpg?w=2000");
} */

.custom-img {
    background-image: url("https://images.pexels.com/photos/10050564/pexels-photo-10050564.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
